<%- include('../layouts/header.ejs') %>
<script>
async function fetchContactList() {
    try {
        const response = await fetch('http://localhost:3000/api/contact');
        if (!response.ok) {
            throw new Error('네트워크 응답이 좋지 않습니다: ' + response.statusText);
        }
        const data = await response.json();
        // 데이터 처리: 예를 들어, lists 변수를 업데이트하는 로직을 추가할 수 있습니다.
        console.log(data)
    } catch (error) {
        console.error('문의 목록을 가져오는 중 오류 발생:', error);
    }
}
document.addEventListener('DOMContentLoaded', fetchContactList);

</script>

<h2 class="page-title">문의 목록입니다.</h2>

<div class="contact-container">
    <% lists.forEach(function(item) { %>
    <div class="contact-item">
        <!-- 첫 번째 줄: 이름, 전화번호, 메일 (한 줄로 배치) -->
        <div class="contact-row">
            <div><%= item.name %><strong>의 방명록</strong></div>
            <div>
                <%= item.phone %>
                <% if (item.phone != "" && item.email != "") { %>
                    |
                <% } %>
                <%= item.email %>
            </div>
        </div>

        <!-- 두 번째 줄: 내용 -->
        <div class="contact-row">
            <div>"<%= item.memo %>"</div>
        </div>

        <!-- 세 번째 줄: 작성일, 수정일, 읽음, 삭제 -->
        <div class="contact-row">
            <div>
                <strong>작성 </strong> <span class="create-at"><%= item.create_at %></span>
                <!-- 날짜 비교: getTime() 메서드로 날짜와 시간 정확하게 비교 -->
                <% if (item.create_at.getTime() !== item.modify_at.getTime()) { %>
                    <strong>(수정 </strong> <span class="modify-at"><%= item.modify_at %></span>)
                <% } %>
            </div>
            <div><strong>상태 </strong> <%= item.status %></div>
            <div>
                <button class="btn btn-update" data-id="<%= item.id %>" onclick="updateContact(this.dataset.id)">읽었어요</button>
                <button class="btn btn-delete" data-id="<%= item.id %>" onclick="deleteContact(this.dataset.id)">삭제할래요</button>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<script src='/js/contactList.js'></script>

<%- include('../layouts/footer.ejs') %>
